*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
:root {
  /* --custom name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --header-bg-clr: #22babb;
  --main-bg-clr: #fa7f08;
  --footer-bg-clr: #348888;
}

/* fonts */
/* font-family: 'Roboto', sans-serif; */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
    width:50%;
    height:50%;
}

/* example start */
.row1 .index1{
  background-color: red;
}
/* example end */