*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
:root {
  /* --custom name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --header-bg-clr: #22babb;
  --main-bg-clr: #fa7f08;
  --footer-bg-clr: #348888;
}

/* fonts */
/* font-family: 'Roboto', sans-serif; */
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
td{
    width:9rem;
    height:9rem;
}

/* remove when clicked on */
.pre-click:hover{ 
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}

/* add when clicked on */
.post-click{
  cursor: not-allowed;
  pointer-events: none; 
  background-color: lightblue;
}

.comp-pick{
  cursor: not-allowed;
  pointer-events: none; 
  background-color: rgb(255, 86, 86);
}

/* add when clicked on */
.text{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
